body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
  }
  .nav-container {
    background-color: CornflowerBlue;
    height: 100px;
    width: 100%;
  }
  .nav {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 40px 0px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: bolder;
  }
  .nav li a:link,
  .nav li a:visited {
    color: black;
    text-decoration: none;
  }
  .nav li a:hover,
  .nav li a:active {
    color: white;
  }
  .back-container {
    background-image: url("../images/ChromePipesLines.jpg");
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 80px;
  }
  .home {
    margin: 0 auto;
    padding-top: 400px;
  }
  .info {
    padding-top: 160px;
    padding-bottom: 90px;
  }
  h1 {
    font-family: "Monoton", times;
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 0px;
    color: black;
    font-weight: normal;
    text-align: center;
  }
  h2 {
    font-family: "Monoton", times;
    font-size: 50px;
    padding-bottom: 5px;
    color: dodgerblue;
    font-weight: normal;
  }
  h3 {
    font-family: times;
    font-size: 35px;
    margin-bottom: 20px;
    color: black;
  }
  .services {
    text-align: center;
    margin-bottom: 60px;
  }
  .para {
    font-family: ariel;
    font-size: 25px;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
  }
  .paracenter {
    font-family: ariel;
    font-size: 25px;
    line-height: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  .paracenter a:link,
  .paracenter a:visited {
    color: red;
    text-decoration: none;
  }
  .paracenter a:hover,
  .paracenter a:active {
    color: white;
  }
  #gallary1 {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #gallary1 img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  #gallary2 {
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: CornflowerBlue;
  }
  #contact {
    text-align: center;
  }
  #contact a:link,
  #contact a:visited {
    color: dodgerblue;
    text-decoration: none;
  }
  #contact a:hover,
  #contact a:active {
    color: white;
  }
  .info2{
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .social {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .copyright{
    padding-top: 5px;
    padding-bottom: 55px;
  }