body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
  }
  .back-container {
    background-image: url("../images/ChromePipesLines.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav-container {
    background-color: CornflowerBlue;
    height: 100px;
    width: 100%;
  }
  .nav {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 40px 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 25px;
    font-weight: bolder;
  }
  .nav li a:link,
  .nav li a:visited {
    color: black;
    text-decoration: none;
  }
  .nav li a:hover,
  .nav li a:active {
    color: white;
  }
  .home-container {
    padding-top: 40px;
  }
  .button {
    display: inline-block;
    padding: 25px 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: silver;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .button-container {
    text-align: center;
  }
  .button:hover {
    color: White;
  }
  #photo {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #photo img {
    max-width: 100%;
    height: auto;
    width: auto;
  }
  #services {
    margin-bottom: 80px;
    text-align: center;
  }
  #gallary {
    display: flex;
    margin: 0 auto;
    padding: 20px 0px;
    background-color: silver;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #contact {
    padding-top: 20px;
    text-align: center;
  }
  #contact a:link,
  #contact a:visited {
    color: royalblue;
    text-decoration: none;
  }
  #contact a:hover,
  #contact a:active {
    color: white;
  }
  .contact-container {
    padding-bottom: 30px;
  }
  .social {
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .copyright {
    padding-top: 5px;
    padding-bottom: 55px;
  }
  h1 {
    font-family: "Monoton", times;
    font-weight: normal;
    font-size: 60px;
    color: black;
    text-align: center;
  }
  h2 {
    font-family: "Monoton", times;
    font-weight: normal;
    font-size: 50px;
    color: black;
  }
  h3 {
    padding-top: 20px;
    font-family: times;
    font-size: 35px;
    color: black;
  }
  .par {
    font-family: times;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
  }